<!DOCTYPE html>
<html>
  <head>
    <title>Rock, Paper, Scissors</title>
  </head>
    
  <body>
    <h2>
      We played <%= @my_move_text %>!
    </h2>

    <h2>
      They played <%= @opponent_move_text %>!
    </h2>

    <h2>
      <% if @result == 0 %>
        We won!
      <% elsif @result == 1 %>
        We lost!
      <% else %>
        We tied!
      <% end %>
    </h2>

    <div>
      <div><a href="/">Rules</a></div>
    </div>
  </body>
</html>
